h4 {
  background: rgb(54, 54, 54);
  color: aliceblue;
  text-align: center;
  font-weight:bold;
  padding:2%;
}

body {
  background: rgb(254, 254, 254);
  font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
  color: #474747;
  margin: 0;
}

.contents {
  display: flex;
  padding: 2%;
}
.new_list{
  margin-left: auto;
}


.Maine_menu {
  width: fit-content;   /* ← 中身（＝table）の幅に自動で合わせる */
  margin: 0 auto;  
  background-color: rgb(236, 235, 235);
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);

}

table{
  margin: 0 auto;
  border-collapse: separate; 
  border-spacing: 0 2px; 
  background-color: rgb(236, 235, 235);
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

tbody td {
  background: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 6px;
}

.count {
  display: flex;
  gap: 20%;
  padding: 2%;
}